# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Objects-vs.-references-in-Python" data-toc-modified-id="Objects-vs.-references-in-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objects vs. references in Python</a></div><div class="lev1 toc-item"><a href="#Slicing" data-toc-modified-id="Slicing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Slicing</a></div><div class="lev1 toc-item"><a href="#Subsetting-using-criteria" data-toc-modified-id="Subsetting-using-criteria-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Subsetting using criteria</a></div><div class="lev1 toc-item"><a href="#Masking" data-toc-modified-id="Masking-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Masking</a></div>

In [2]:
import pandas as pd
surveys_df = pd.read_csv("../data/ecol_data_part1.csv")

In [4]:
surveys_df['species_id'].head()

0    NL
1    NL
2    DM
3    DM
4    DM
Name: species_id, dtype: object

In [5]:
surveys_df.species_id.head()

0    NL
1    NL
2    DM
3    DM
4    DM
Name: species_id, dtype: object

In [7]:
surveys_df[['species_id', 'plot_id']].head()

  species_id  plot_id
0         NL        2
1         NL        3
2         DM        2
3         DM        7
4         DM        3

In [8]:
surveys_df[['plot_id', 'species_id']].head()

   plot_id species_id
0        2         NL
1        3         NL
2        2         DM
3        7         DM
4        3         DM

# Objects vs. references in Python

In [13]:
true_copy_df = surveys_df.copy()
ref_df = surveys_df

# Slicing

In [14]:
surveys_df.iloc[0:3, 1:4]

   month  day  year
0      7   16  1977
1      7   16  1977
2      7   16  1977

# Subsetting using criteria

In [15]:
surveys_df[surveys_df["year"] == 2002].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
33320,33321,1,12,2002,1,DM,M,38.0,44.0
33321,33322,1,12,2002,1,DO,M,37.0,58.0
33322,33323,1,12,2002,1,PB,M,28.0,45.0
33323,33324,1,12,2002,1,AB,NaN,NaN,NaN
33324,33325,1,12,2002,1,DO,M,35.0,29.0

In [16]:
surveys_df[(surveys_df.year >= 1980) & (surveys_df.year <= 1985)].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2270,2271,1,15,1980,8,DO,M,35.0,53.0
2271,2272,1,15,1980,11,PF,F,16.0,10.0
2272,2273,1,15,1980,18,DM,F,34.0,33.0
2273,2274,1,15,1980,11,DM,M,38.0,37.0
2274,2275,1,15,1980,8,DO,F,33.0,29.0

# Masking

In [17]:
pd.isnull(surveys_df).head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True

Selecting rows where there are null values. The `any(axis=1)` likely explores whether there are any `True` values, which will be the case if there is at least a `null` value in the row.

In [18]:
surveys_df[pd.isnull(surveys_df).any(axis=1)].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN