# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Where-are-the-NaN's?" data-toc-modified-id="Where-are-the-NaN's?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Where are the NaN's?</a></div><div class="lev1 toc-item"><a href="#Writing-out-data-to-CSV" data-toc-modified-id="Writing-out-data-to-CSV-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Writing out data to CSV</a></div>

In [1]:
import pandas as pd
surveys_df = pd.read_csv("../data/ecol_data_part1.csv")
type(surveys_df)

pandas.core.frame.DataFrame

In [2]:
surveys_df['sex'].dtype

dtype('O')

In [3]:
surveys_df['record_id'].dtype

dtype('int64')

In [4]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

Converting `record_id` field to floating point values.

In [5]:
surveys_df['record_id'] = surveys_df['record_id'].astype('float64')
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1.0,7,16,1977,2,NL,M,32.0,NaN
1,2.0,7,16,1977,3,NL,M,33.0,NaN
2,3.0,7,16,1977,2,DM,F,37.0,NaN
3,4.0,7,16,1977,7,DM,M,36.0,NaN
4,5.0,7,16,1977,3,DM,M,35.0,NaN

In [9]:
# "Can't convert NA to integer"
# surveys_df['weight'] = surveys_df['weight'].astype('int')

# Where are the NaN's?

Need to consider how to handle our missing values, and how they might impact our later conclusions.

In [10]:
len(surveys_df[pd.isnull(surveys_df.weight)])

3266

In [15]:
surveys_df['weight'].mean()

42.672428212991356

In [12]:
df1 = surveys_df.copy()

In [14]:
df1['weight'] = df1['weight'].fillna(0)
df1['weight'].mean()

38.751976145601844

# Writing out data to CSV

Drop all rows containing missing values.

In [21]:
df1.shape

(35549, 9)

In [16]:
df_na = df1.dropna()

In [20]:
df_na.shape

(31370, 9)